html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


.wrapper {
    margin: 20px 0 0 1em;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.player-list,
.round-list {
    padding-left: 0px;
}

.player-list li ,
.round-list li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    padding: 2px;
}

.player-list li.active {
    background-color: lightsalmon;
}

.round-list li.active {
    background-color: lightgoldenrodyellow;
}

li.playerOfApp {
    border-bottom: 2px solid black;
}

.margLeft {
    margin-left: 15px;
}

.button--big {
    padding: 5px 10px;
    background-color: lightsalmon;
}
